// PRIMARY
$C_WHITE: #ffffff;
$C_BLACK: #000000;

// GRAY
$C_GRAY_10: rgba(255, 255, 255, 0.02);
$C_GRAY_20: rgba(255, 255, 255, 0.04);
$C_GRAY_30: rgba(255, 255, 255, 0.08);
$C_GRAY_40: rgba(255, 255, 255, 0.16);
$C_GRAY_50: rgba(255, 255, 255, 0.24);
$C_GRAY_60: rgba(255, 255, 255, 0.32);
$C_GRAY_70: rgba(255, 255, 255, 0.4);
$C_GRAY_80: rgba(255, 255, 255, 0.48);
$C_GRAY_90: rgba(255, 255, 255, 0.56);
$C_GRAY_100: rgba(255, 255, 255, 0.64);

// BLUE
$C_BLUE_10: #e0ebff;
$C_BLUE_20: #c9dbff;
$C_BLUE_30: #8ab1ff;
$C_BLUE_40: #548dff;
$C_BLUE_50: #3b77ed;
$C_BLUE_60: #3366cc;
$C_BLUE_70: #2b55ab;
$C_BLUE_80: #23468c;
$C_BLUE_90: #1d3b75;
$C_BLUE_100: #162b57;

// LIGHT_BLUE
$C_LIGHT_BLUE_10: #e0f3ff;
$C_LIGHT_BLUE_20: #c9eaff;
$C_LIGHT_BLUE_30: #8ad0ff;
$C_LIGHT_BLUE_40: #54bbff;
$C_LIGHT_BLUE_50: #32a1ff;
$C_LIGHT_BLUE_60: #298bcc;
$C_LIGHT_BLUE_70: #2274ab;
$C_LIGHT_BLUE_80: #1c5f8c;
$C_LIGHT_BLUE_90: #175075;
$C_LIGHT_BLUE_100: #113b57;

// GREEN
$C_GREEN_10: #e0ffe0;
$C_GREEN_20: #c5fac5;
$C_GREEN_30: #87fa87;
$C_GREEN_40: #52fa52;
$C_GREEN_50: #2de02d;
$C_GREEN_60: #29cc29;
$C_GREEN_70: #22ab22;
$C_GREEN_80: #1c8c1c;
$C_GREEN_90: #177517;
$C_GREEN_100: #115711;

// RED
$C_RED_10: #ffe0e0;
$C_RED_20: #fac5c5;
$C_RED_30: #fa8787;
$C_RED_40: #fa5252;
$C_RED_50: #e02d2d;
$C_RED_60: #cc2929;
$C_RED_70: #ab2222;
$C_RED_80: #8c1c1c;
$C_RED_90: #751717;
$C_RED_100: #571111;

// YELLOW
$C_YELLOW_10: #fffbe0;
$C_YELLOW_20: #fff8c9;
$C_YELLOW_30: #ffef8a;
$C_YELLOW_40: #ffe854;
$C_YELLOW_50: #ffde05;
$C_YELLOW_60: #fac105;
$C_YELLOW_70: #f5a505;
$C_YELLOW_80: #f08a05;
$C_YELLOW_90: #eb7005;
$C_YELLOW_100: #e55705;

// VIOLET
$C_VIOLET_10: #f3e0ff;
$C_VIOLET_20: #eac9ff;
$C_VIOLET_30: #d08aff;
$C_VIOLET_40: #bb54ff;
$C_VIOLET_50: #9b05ff;
$C_VIOLET_60: #8405e5;
$C_VIOLET_70: #6704b2;
$C_VIOLET_80: #490380;
$C_VIOLET_90: #3b0266;
$C_VIOLET_100: #2c024d;

// MONO
$C_MONO_10: #353536;
$C_MONO_20: #565657;
$C_MONO_30: #747575;
$C_MONO_40: #aaaaab;
$C_MONO_50: #f8f9fb;

// TEXT_COLOR
$C_TEXT_PRIMARY: #ffffff;
$C_TEXT_SECONDARY: rgba(255, 255, 255, 0.8);
$C_TEXT_TERIARY: rgba(255, 255, 255, 0.4);
$C_TEXT_DISABLED: rgba(51, 51, 51, 0.16);
$C_TEXT_ERROR: #cc2929;

$C_TEXT_BUTTON_PRIMARY: #ffffff;
$C_TEXT_BUTTON_SECONDARY: #ffffffcc;
$C_TEXT_BUTTON_TERIARY: rgba(255, 255, 255, 0.24);

$C_TEXT_BUTTON_DISABLED_PRIMARY: rgba(255, 255, 255, 0.16);
$C_TEXT_BUTTON_DISABLED_SECONDARY: rgba(255, 255, 255, 0.16);
$C_TEXT_BUTTON_DISABLED_TERIARY: rgba(255, 255, 255, 0.24);

// SURFACE
$C_SURFACE_PRIMARY: #18181a;
$C_SURFACE_SECONDARY: #1c1c1e;

$C_DIVIDER: #00000052;

$C_BORDER: $C_GRAY_30;
$C_BORDER_FOCUSED: $C_BLUE_60;
$C_BORDER_ERROR: $C_RED_50;

$C_STATUS_BEST: $C_LIGHT_BLUE_50;
$C_STATUS_SUCCESS: $C_GREEN_60;
$C_STATUS_ERROR: $C_RED_50;
$C_STATUS_WARNING: $C_YELLOW_60;
$C_STATUS_UNKNOWN: $C_GRAY_70;

$C_STATUS_TEXT_BEST: $C_LIGHT_BLUE_60;
$C_STATUS_TEXT_SUCCESS: $C_GREEN_70;
$C_STATUS_TEXT_ERROR: $C_RED_60;
$C_STATUS_TEXT_WARNING: $C_YELLOW_70;
$C_STATUS_TEXT_UNKNOWN: $C_GRAY_80;

$C_STATUS_BORDER_BEST: $C_LIGHT_BLUE_70;
$C_STATUS_BORDER_SUCCESS: $C_GREEN_80;
$C_STATUS_BORDER_ERROR: $C_RED_70;
$C_STATUS_BORDER_WARNING: $C_YELLOW_80;
$C_STATUS_BORDER_UNKNOWN: $C_GRAY_90;
